@import "../../../vars";

img {
  max-width: 100px;
  border-radius: 50%;
}

div {
  margin: 8px 4px;
  flex-basis: 10%;
}

:host {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 60px;
  margin-bottom: 40px;
}

@media (max-width: 899px) {
  :host {
    margin-top: 10px;
  }
}