<a href="https://discord.gg/N7WX5yycRd" [ngStyle]="{'color': color, 'font-size': size+'px'}">
  <fa-icon [icon]="faDiscord"></fa-icon>
</a>
<a href="#" [ngStyle]="{'color': color, 'font-size': size+'px'}">
  <fa-icon [icon]="faInstagram"></fa-icon>
</a>
<a href="https://twitter.com/hmstrsoc_nft" [ngStyle]="{'color': color, 'font-size': size+'px'}">
  <fa-icon [icon]="faTwitter"></fa-icon>
</a>
<a href="https://opensea.io/collection/hmstrsoc" [ngStyle]="{'font-size': size+'px'}">
  <img class="{{color}}" [ngStyle]="{'height': opensea_size+'px'}" src="../../../assets/images/opensea.svg" alt="OpenSea icon">
</a>
<a href="https://metamask.io/" [ngStyle]="{'font-size': metamask_font_size+'px'}">
  <img [ngStyle]="{'height': metamask_size+'px'}" src="../../../assets/images/metamask-fox.svg" alt="MetaMask icon">
</a>
